@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --glass: rgba(255,255,255,0.65);
}

body{
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

/* subtle card shadow */
.card-shadow{box-shadow: 0 8px 30px rgba(7, 12, 34, 0.08);}